h1 {
  text-align: center;
  color: #010101;
  font-family: 'Frank Ruhl Libre', serif;
}

h2 {
  text-align: center;
  color: #010101;
  font-family: 'Frank Ruhl Libre', serif;
}

h3 {
  text-align: center;
  color: #010101;
  font-family: 'Frank Ruhl Libre', serif;
}

h4 {
  text-align: center;
  color: #010101;
  font-family: 'Frank Ruhl Libre', serif;
}

li {
  font-size: 18px;
}
