/* Text/formatting */
body {
  background-color: #FFFFFF;
}

header,
h1 {
  text-align: center;
  color: #010101;
  font-family: 'Frank Ruhl Libre', serif;
}

h2 {
  text-align: center;
  color: #010101;
  font-family: 'Frank Ruhl Libre', serif;
}

h3 {
  text-align: center;
  color: #010101;
  font-family: 'Frank Ruhl Libre', serif;
}

h4 {
  text-align: center;
  color: #010101;
  font-family: 'Frank Ruhl Libre', serif;
}

li {
  font-size: 18px;
  font-family: 'Frank Ruhl Libre', serif;
}

form {
  font-size: 16px;
  font-family: 'Frank Ruhl Libre', serif;
}

input {
  font-size: 14px;
  font-family: 'Frank Ruhl Libre', serif;
}


.message {
  font-size: 18px;
  color: #FFFFFF;
  background-color: #F36545;
  margin: 10px 0px;
  padding: 12px;
  vertical-align: middle;
}

/* Patterns Images */
div.container {
  padding-top: 10%;
  padding-bottom: 10%;
  display: block;
  overflow: hidden;
}


[class*="col-"] {
  width: 24%;
}

/* Navigation */
.topnav {
  background-color: #FAF3F3;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: #F36545;
}

.topnav a.active {
  color: #F36545;
}

/* Dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown Button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: inherit;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FAF3F3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color to dropdown links on hover */
.dropdown_content a:hover {
  background-color: #FFFFFF;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */

.footerimage {
  position: relative;
  left: 0;
  bottom: 5px;
  top: 50px;
  width: 100%;
  height: 144px;
  color: #F36545;
  background: url(../images/Footer.jpg);
  margin: auto;
}

#main {
  min-height: 144px;
}

* html #main {
  height: 144px;
}
