h1 {
  text-align: center;
  color: #010101;
  font-family: 'Frank Ruhl Libre', serif;
}

h2 {
  text-align: center;
  color: #010101;
  font-family: 'Frank Ruhl Libre', serif;
}

h3 {
  text-align: center;
  color: #010101;
  font-family: 'Frank Ruhl Libre', serif;
}

h4 {
  text-align: center;
  color: #010101;
  font-family: 'Frank Ruhl Libre', serif;
}

li {
  font-size: 18px;
}


.message {
  font-size: 18px;
  color: #9F6000;
  background-color: #FEEFB3;
  margin: 10px 0px;
  padding: 12px;
  vertical-align: middle;
}
