<h1>Please Log In Below:</h1>

<form action="/login" method="POST">
  <label for="user_email">Email: <input type="text" name="email" id="user_email"></label>
  <label for="username">Username: <input type="text" name="username" id="username"></label>
  <label for="user_password">Password: <input type="text" name="password" id="user_password"></label>
  <input type="submit" value="Log In">
</form>

<br></br>
<% if flash.has?(:message) %>
<%= flash[:message] %> <a href="/signup">Sign Up</a>
<% end %>
<br><br>


<a href="/">Home</a>
