<h1>Sign Up Below </h1>

<form action="/signup" method="POST">
  <label for="user_email">Email: <input type="text" name="email" id="user_email"></label>
  <label for="username">Username: <input type="text" name="username" id="username"></label>
  <label for="user_password">Password: <input type="text" name="password" id="user_password"></label>
  <input type="submit" value="Sign Up">
</form>

<br></br>

