<h1>Create a New Piece</h1>

<form action="/pieces" method="POST">
  <label for="piece_name">Name: <input type="text" name="name" id="piece_name"></label>
  <label for="piece_size">Size: <input type="text" name="size" id="piece_size"></label>
  <br></br>
  <label>Patterns: </label>
  <br></br>
  <% @patterns = current_user.patterns %>
  <% @patterns.each do |pattern| %>
    <input type="checkbox" name="patterns[]" value="<%= pattern.id %>" id="<%= pattern.name %>"><%= pattern.name %></input>
  <% end %>
  <br></br>
  <h2>Add Pattern</h2>
  <label for="new_pattern_name">Name: <input type="text" name="pattern[name]" id="new_pattern_name"></label>
  <br></br>
  <input type="submit" value="Create Piece">
</form>

<br></br>
<% if flash.has?(:message) %>
  <div class="message"><%= flash[:message] %> </div>
<% end %>

<br></br>
<a href="/patterns">See Your Patterns</a><br>
<a href="/pieces">See Your Collection</a><br>
<a href="/logout">Logout</a><br>
