<h1>Create a New Piece</h1>

<form action="/pieces" method="POST">
  <label for="piece_name">Name: <input type="text" name="name" id="piece_name"></label>
  <label for="piece_size">Size: <input type="text" name="size" id="piece_size"></label>
  <label for="piece_quantity">Quantity: <input type="text" name="quantity" id="piece_quantity"></label>
  <input type="submit" value="Create Piece">
</form>

<br></br>
<a href="/pieces/show">See Your Collection</a><br>
<a href="/logout">Logout</a><br>
