<h1>Hello <%= current_user.username%>!</h1>

<h2>Here are your Patterns</h2>


<% @patterns = current_user.patterns %>
<% @patterns.uniq.each do |pattern| %>
<ul>
  <li><a href="/patterns/<%= pattern.id %>"><%= pattern.name %> </li><br>
</ul>
<% end %>

<br></br>
<% if flash.has?(:message) %>
  <div class="message"><%= flash[:message] %> </div>
<% end %>
<br></br>



<a href="/pieces/new">Add a New Piece</a><br>
<a href="/patterns/new">Add a New Pattern</a><br>
<a href="/pieces">See Your Collection</a><br>
<a href="/logout">Log Out </a><br>
