<h1>Hello <%= @user.username%>!</h1>

<h2>Here is your collection</h2>


<a href="/pieces/new">Add a New Piece</a><br>
<a href="/patterns/new">Add a New Pattern</a></br>
<a href="/logout">Log Out </a><br>
