<h1>Hello <%= current_user.username%>!</h1>

<h2>Here are your Patterns</h2>


<% @patterns = current_user.patterns %>
<% @patterns.uniq.each do |pattern| %>
  <ul>
    <li><a href="/patterns/<%= pattern.id %>"><%= pattern.name %> </li><br>
  </ul>
<% end %>

<div class="container" id="pattern_pictures">
  <img src="images/black_toast1.jpg" class="col-3 wrapper">
  <img src="images/blues1.jpg" class="col-3 wrapper">
  <img src="images/cambridge_blue1.jpg" class="col-3 wrapper">
  <img src="love_and_kisses1.jpg" class="col-3 wrapper">
</div>

<br></br>
