<h1>Create a New Pattern</h1>

<form action="/patterns" method="POST">
  <label for="pattern_name">Pattern Name: <input type="text" name="pattern[name]" id="pattern_name"></label>
  <input type="submit" value="Create Pattern">
</form>
