<h1>Add an Item to Your Wishlist:</h1>

<form action="/wishlists" method="POST">
  <label for="piece_name">Piece Name: <input type="text" name="piece_name" id="piece_name"></label>
  <label for="piece_size">Piece Size: <input type="text" name="piece_size" id="piece_size"></label><br></br>
  <label for="pattern_name">Pattern Name: <input type="text" name="pattern_name" id="pattern_name"></label><br></br>
  <label for="quantity">Quantity: <input type="text" name="quantity" id="quantity"></label><br></br>
  <input type="submit" value="Add Item to List">
</form>

<br></br>
