<h2><%= @wishlist.quantity %> - <%= @wishlist.pattern_name%> <%= @wishlist.piece_size%> <%= @wishlist.piece_name %>  </h2>


<h3><a href="/wishlists">Your Wishlist</a></h3>

<br><br>

<a href="/pieces/new">Add Another Piece</a><br>
<a href="/patterns/new">Add a New Pattern</a><br>
<a href="/patterns">See Your Patterns</a><br>
<a href="/pieces">See Your Collection</a><br>
<a href="/logout">Logout</a><br>
