<h1>Welcome to Collection Tracker</h1>
<h2>Your easy way of keeping track of your Pottery Collection</h2>

<h3>Please Log In or Sign Up Below</h3>

<br></br>
<a href="/login">Log In</a>
<a href="/signup">Sign Up</a>
