<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="topnav" id="myTopnav">
        <% if logged_in? %>
          <a href="/pieces" class="active">Home</a>
          <a href="/patterns">Patterns</a>
          <a href="/wishlists">Wishlist</a>
          <a href="/pieces/new">Add Piece</a>
          <a href="/patterns/new">Add Pattern</a>
          <a href="/logout">Logout</a>
        <% else %>
          <a href="/signup">Signup</a>
          <a href="/login">Log In</a>
          <a href="/">Home</a>
        <% end %>
      </div>
    </header>
      <%= yield %>

      <br><br>
      <div class="container">
      </div>
    <footer>
      <% if flash.has?(:message) %>
        <div class="message"><%= flash[:message] %> </div>
      <% end %>
      <div class="footerimage">
      </div>
    </footer>
  </body>

</html>
