<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="topnav" id="myTopnav">
        <% if logged_in? %>
          <div class="dropdown">
            <button class="dropbtn">Pieces
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/pieces">Pieces</a>
              <a href="/pieces/new">Add New Piece</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Patterns
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/patterns">Patterns</a>
              <a href="/patterns/new">Add New Pattern</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Wishlist
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/wishlists">Wishlist</a>
              <a href="/wishlists/new">Add Item to Wishlist</a>
            </div>
          </div>
          <a href="/logout">Logout</a>
        <% else %>
          <a href="/signup">Signup</a>
          <a href="/login">Log In</a>
          <a href="/">Home</a>
        <% end %>
      </div>
      <% if flash.has?(:message) %>
        <div class="message"><%= flash[:message] %> </div>
      <% end %>
    </header>
      <%= yield %>

      <br><br>
      <div class="container">
      </div>
    <footer>
      <div class="footerimage">
      </div>
    </footer>
  </body>

</html>
